/* Input Field */
.input {
  @apply appearance-none px-3 py-2 border border-gray-300 rounded-md block w-full rounded-md shadow-sm transition duration-150 ease-in-out;
}
.input:focus {
  @apply outline-none shadow-outline-blue border-blue-300;
}

/* Progress Bars */

.progress {
  -webkit-appearance: none;
  border: none;
  border-radius: 290486px;
  display: block;
  height: 0.75rem;
  overflow: hidden;
  padding: 0;
  width: 100%;
  @apply bg-danger;
}
.progress::-moz-progress-bar {
    @apply bg-primary;
}
